* {
  margin: 1pc;
}

body {
  color: black;
}

.total {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5em;
}

.article-title {
  font-size: 1.3em;
}

.author {
  font-size: 0.8em;
}

.subheader {
  font-size: 1.1em;
}
